{% extends 'partials/base.html' %}
{% load static %}
{% block content %}



<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->


<header id="head" class="secondary">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h1>Services</h1>
			</div>
		</div>
	</div>
</header>

<!-- container -->
<div class="container">
	<div class="row offs1">
		{% for course in courses %}
		<div class="col-md-4 col-sm-6 col-xs-12 ">
			<div class="thumbnail thumbnail4">
				<img src="{{course.image.url}}" alt="", style="height: 7cm; width: 10cm;" >

				<div class="caption">
					<h4>
						<a href="{% url 'course_detail.html' course.category.slug course.id %}">
							{{course.name}}
						</a>
					</h4>

					<p>
						{{course.description | truncatechars:100}}
					</p>
					<a href="#" data-title="Read More" class="btn-link"><span>Read More</span></a>
				</div>
			</div>
		</div>
		{% endfor %}

	</div>
</div>
<!-- /container -->

<section class="btm-section secpadding">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="title-box clearfix ">
					<h3 class="title-box_primary">New Projects</h3>
				</div>
				<div class="list styled custom-list">
					<ul>
						<li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
								href="#">Singapore Township</a></li>
						<li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
								href="#">Mega luxury Villas</a></li>
						<li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">RNT
								Commercial Shopping Mall</a></li>
						<li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci."
								href="#">SVN Independent & Duplex Houses</a></li>
						<li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
								href="#">World wide IT park</a></li>
						<li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
								href="#">North Arena SNT Township</a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-4">
				<div class="title-box clearfix ">
					<h3 class="title-box_primary">Large Projects</h3>
				</div>
				<div class="list styled custom-list">
					<ul>
						<li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
								href="#">Singapore Township</a></li>
						<li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
								href="#">Mega luxury Villas</a></li>
						<li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">RNT
								Commercial Shopping Mall</a></li>
						<li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci."
								href="#">SVN Independent & Duplex Houses</a></li>
						<li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
								href="#">World wide IT park</a></li>
						<li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
								href="#">North Arena SNT Township</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="title-box clearfix ">
					<h3 class="title-box_primary">Our Clients</h3>
				</div>
				<blockquote class="blockquote-1">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Anim
						pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid</p>
					<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
			</div>

		</div>
	</div>
</section>

{% endblock %}