{% extends 'partials/base.html' %}
{% load static %}
{% block content %}




<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<header id="head">
    <div class="container">
        <div class="fluid_container">
            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                <div data-thumb="{% static 'assets/images/slides/thumbs/slide1.jpg' %}"
                    data-src="{% static 'assets/images/slides/slide1.jpg' %}">
                </div>
                <div data-thumb="{% static 'assets/images/slides/thumbs/slide2.jpg' %}"
                    data-src="{% static 'assets/images/slides/slide2.jpg' %}">
                </div>
                <div data-thumb="{% static 'assets/images/slides/thumbs/slide3.jpg' %}"
                    data-src="{% static 'assets/images/slides/slide3.jpg' %}">
                </div>
            </div><!-- #camera_wrap_3 -->
        </div><!-- .fluid_container -->
    </div>
</header>

<section class="secpadding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-box clearfix ">
                    <h2 class="title-box_primary">Welcome</h2>
                </div>
                <p>Perspiciatis unde omnis iste natus error sit voluptatem. Cum sociis natoque penatibus et magnis
                    dis parturient montes ascetur ridiculus musull dui. Lorem ipsumulum aenean noummy endrerit
                    mauris. Cum sociis natoque penatibuLorem ipsumulum aenean noummy endrerit mauris. Cum sociis
                    natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null dui. Fusce feugiat
                    malesuada odio.</p>
                <p>penatibus et magnis dis parturient montes ascetur ridiculus musull dui. Lorem ipsumulum aenean
                    noummy endrerit mauris. Cum sociis natoque penatibuLorem ipsumulum aenean noummy endrerit
                    mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null
                    dui. Fusce feugiat malesuada odio.</p>
            </div>
        </div>
    </div>
</section>
<section class="news-box">
    <div class="container">
        <h2><span>Current projects</span></h2>
        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail thumbnail4">
                    <img src="{% static 'assets/images/news2.jpg' %}" alt="">

                    <div class="caption">
                        <h4>
                            <a href="#">
                                Aliquam eu aliquet quam
                            </a>
                        </h4>

                        <p>
                            Souvlaki ignitus carborundum e pluribus unumfacto lingo est igpay atinlay arquee
                            selectus. non provisio incongruous feline nolo contendre. Gratuitous octopus niacin,
                            sodium glutimate. Quote meon
                        </p>
                        <a href="#" data-title="Read More" class="btn-link"><span>Read More</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail thumbnail4">
                    <img src="{% static 'assets/images/news3.jpg' %}" alt="">

                    <div class="caption">
                        <h4>
                            <a href="#">
                                Factorial non deposit
                            </a>
                        </h4>

                        <p>
                            Enumfacto lingo est igpay atinlay arquee selectus.
                            non provisio incongruous feline nolo contendre. Grat uitous octopus niacin, sodium
                            glutimate. Quote meon an estimate et non interruptus stad
                        </p>
                        <a href="#" data-title="Read More" class="btn-link"><span>Read More</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail thumbnail4">
                    <img src="{% static 'assets/images/news4.jpg' %}" alt="">

                    <div class="caption">
                        <h4>
                            <a href="#">
                                Deposit quid proquo
                            </a>
                        </h4>

                        <p>
                            Arquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus
                            niacin, sodium gluti mate. Quote meon an estimate et non interruptus stad ium. Sic
                            tempus fugit esperanto
                        </p>
                        <a href="#" data-title="Read More" class="btn-link"><span>Read More</span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="packages" class="secpadding">
    <div class="container">
        <h2><span>Completed Projects</span></h2>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="{% static 'assets/images/pic/pic-5.jpg' %}" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>Project Name</h3>
                            <a class=" btn btn-default" href="#">$4600</i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3  col-sm-6">
                <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="{% static 'assets/images/pic/pic-6.jpg' %}" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>Project Name</h3>
                            <a class=" btn btn-default" href="#">$4600</i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3  col-sm-6">
                <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="{% static 'assets/images/pic/pic-7.jpg' %}" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>Project Name</h3>
                            <a class=" btn btn-default" href="#">$4600</i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3  col-sm-6">
                <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="{% static 'assets/images/pic/pic-8.jpg' %}" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>Project Name</h3>
                            <a class=" btn btn-default" href="#">$4600</i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="btm-section secpadding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="title-box clearfix ">
                    <h3 class="title-box_primary">New Projects</h3>
                </div>
                <div class="list styled custom-list">
                    <ul>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
                                href="#">Singapore Township</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
                                href="#">Mega luxury Villas</a></li>
                        <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">RNT
                                Commercial Shopping Mall</a></li>
                        <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci."
                                href="#">SVN Independent & Duplex Houses</a></li>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
                                href="#">World wide IT park</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
                                href="#">North Arena SNT Township</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="title-box clearfix ">
                    <h3 class="title-box_primary">Large Projects</h3>
                </div>
                <div class="list styled custom-list">
                    <ul>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
                                href="#">Singapore Township</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
                                href="#">Mega luxury Villas</a></li>
                        <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">RNT
                                Commercial Shopping Mall</a></li>
                        <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci."
                                href="#">SVN Independent & Duplex Houses</a></li>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
                                href="#">World wide IT park</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
                                href="#">North Arena SNT Township</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="title-box clearfix ">
                    <h3 class="title-box_primary">Our Clients</h3>
                </div>
                <blockquote class="blockquote-1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Anim
                        pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid
                    </p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                </blockquote>
            </div>

        </div>
    </div>
</section>

{% endblock %}